@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #131313;
  color: #ffffff;
}
button:active {
  transform: scale(0.95);
  transition-property: all;
  transition-duration: 300ms;
}
