@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffffff;
  color: #000;
}
button:active {
  transform: scale(0.95);
  transition-property: all;
  transition-duration: 300ms;
}
